# HANDLING WITH MISSING VALUES

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import re
import seaborn as sns

C:\Users\iayav\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('Capstone_project_step1_Ahmet')
df

,make_model,body_type,price,vat,km,prev_owner,hp,type,inspection_new,warranty,...,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,emission_label,gears,country_version,cons_comb,cons_city,cons_country
0,Audi A1,Sedans,15770,VAT deductible,56013.0,2.0,66.0,Used,Yes,NaN,...,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,NaN,3.8,4.3,3.5
1,Audi A1,Sedans,14500,Price negotiable,80000.0,NaN,141.0,Used,NaN,NaN,...,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",Green,7.0,NaN,5.6,7.1,4.7
2,Audi A1,Sedans,14640,VAT deductible,83450.0,1.0,85.0,Used,NaN,NaN,...,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...",Green,NaN,NaN,3.8,4.4,3.4
3,Audi A1,Sedans,14500,NaN,73000.0,1.0,66.0,Used,NaN,NaN,...,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...",NaN,6.0,NaN,3.8,4.3,3.5
4,Audi A1,Sedans,16790,NaN,16200.0,1.0,66.0,Used,Yes,NaN,...,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...",NaN,NaN,Germany,4.1,4.6,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,Renault Espace,Van,39950,VAT deductible,NaN,NaN,147.0,New,NaN,24.0,...,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Hands-free equipment,O...","Alloy wheels,Touch screen","ABS,Central door lock,Central door lock with r...",NaN,6.0,NaN,5.3,6.2,4.7
15915,Renault Espace,Van,39885,VAT deductible,9900.0,1.0,165.0,Used,NaN,NaN,...,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Hands-free equipment,R...","Alloy wheels,Touch screen,Voice Control","ABS,Adaptive Cruise Control,Blind spot monitor...",NaN,7.0,Germany,7.4,9.2,6.3
15916,Renault Espace,Van,39875,VAT deductible,15.0,1.0,146.0,Pre-registered,Yes,NaN,...,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...",Alloy wheels,"ABS,Adaptive Cruise Control,Blind spot monitor...",NaN,6.0,Austria,5.3,6.2,4.7
15917,Renault Espace,Van,39700,VAT deductible,10.0,NaN,147.0,Pre-registered,NaN,NaN,...,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Radio,USB","Alloy wheels,Touch screen","ABS,Blind spot monitor,Driver-side airbag,Elec...",NaN,6.0,NaN,5.3,6.2,4.7
15918,Renault Espace,Van,40999,VAT deductible,NaN,1.0,165.0,Demonstration,Yes,NaN,...,"Air conditioning,Automatic climate control,Cru...",USB,"Alloy wheels,Touch screen","ABS,Blind spot monitor,Daytime running lights,...",Green,NaN,Germany,6.8,8.7,5.7

Total NaN Count

In [3]:
df.isnull().sum().sort_values()

make_model                   0
fuel                         0
gearing_type                 0
price                        0
type                         2
body_type                   60
hp                          88
nr_of_doors                212
displacement               496
body_color                 597
comfort_&_convenience      920
nr_of_seats                977
safety_&_security          982
km                        1024
entertainment_&_media     1374
first_registration        1597
cons_comb                 2033
cons_country              2376
cons_city                 2436
co_2_emission             2436
extras                    2962
emission_class            3628
upholstery                3720
body_color_original       3774
vat                       4513
gears                     4712
cylinders                 5680
paint_type                5772
prev_owner                6828
drive_chain               6858
weight                    6974
country_version           8333
warranty                 11066
emission_label           11974
inspection_new           11987
dtype: int64

Let's first start with small missings

### Type

In [4]:
df.type.value_counts(dropna = False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64

In [5]:
df.type.fillna(method="bfill" , inplace = True)
df.type.value_counts(dropna = False)

Used              11097
New                1650
Pre-registered     1365
Employee's car     1011
Demonstration       796
Name: type, dtype: int64

### Body Type

In [6]:
df.body_type.value_counts(dropna = False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [7]:
df.body_type.fillna(method="bfill" , inplace = True)
df.body_type.value_counts(dropna = False)

Sedans           7920
Station wagon    3569
Compact          3158
Van               804
Other             291
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

### HP

In [8]:
df.hp.value_counts(dropna = False)

85.0     2542
66.0     2122
81.0     1402
100.0    1308
110.0    1112
         ...
84.0        1
195.0       1
44.0        1
239.0       1
9.0         1
Name: hp, Length: 81, dtype: int64

In [9]:
df.hp = df.hp.fillna(round(df.hp.mean()))
df.hp.value_counts(dropna = False)

85.0     2542
66.0     2122
81.0     1402
100.0    1308
110.0    1112
         ...
137.0       1
9.0         1
44.0        1
133.0       1
239.0       1
Name: hp, Length: 80, dtype: int64

In [10]:
df.hp.isnull().sum()

0

### Number of doors

In [11]:
df.nr_of_doors.value_counts(dropna = False)

5.0    11575
4.0     3079
3.0      832
2.0      219
NaN      212
1.0        1
7.0        1
Name: nr_of_doors, dtype: int64

In [12]:
df.nr_of_doors = df.nr_of_doors.fillna(round(df.nr_of_doors.mean()))
df.nr_of_doors.value_counts(dropna = False)

5.0    11787
4.0     3079
3.0      832
2.0      219
1.0        1
7.0        1
Name: nr_of_doors, dtype: int64

### Number of seats

In [13]:
df.nr_of_seats = df.nr_of_seats.fillna(round(df.nr_of_seats.mean()))
df.nr_of_seats.value_counts(dropna = False)

5.0    14313
4.0     1125
7.0      362
2.0      116
6.0        2
3.0        1
Name: nr_of_seats, dtype: int64

### Displacement

In [14]:
df.displacement = df.displacement.fillna(round(df.displacement.mean()))
df.displacement.value_counts(dropna = False)

1598.0    4761
999.0     2438
1398.0    1314
1399.0     749
1229.0     677
          ...
122.0        1
1198.0       1
1195.0       1
2967.0       1
1800.0       1
Name: displacement, Length: 78, dtype: int64

In [15]:
df.displacement.isnull().sum()

0

### Body Color

In [16]:
df.body_color.value_counts(dropna = False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [17]:
df.body_color.fillna(method = "ffill", inplace = True)
df.body_color.value_counts(dropna = False)

Black     3877
Grey      3614
White     3531
Silver    1705
Blue      1535
Red        998
Brown      298
Green      163
Beige      114
Yellow      54
Violet      19
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

### Comfort and Convenience

In [18]:
df["comfort_&_convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort_&_convenience, Length: 6199, dtype: int64

In [19]:
df.drop("comfort_&_convenience" , axis = 1 , inplace = True)

This column will make the data complicated, eliminated.

### Safety and Security

In [20]:
df["safety_&_security"].value_counts(dropna = False)

NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety_&_security, Length: 4444, dtype: int64

In [21]:
df.drop("safety_&_security" , axis = 1 , inplace= True)

Too many complexity for the model. More important details are going to be kept.

### KM

In [22]:
df["km"].value_counts(dropna = False)

10.0       1045
NaN        1024
1.0         367
5.0         170
50.0        148
           ...
67469.0       1
43197.0       1
10027.0       1
35882.0       1
57.0          1
Name: km, Length: 6690, dtype: int64

In [23]:
df.km = df["km"].fillna(df.km.mean())
df["km"].value_counts(dropna = False)

10.000000       1045
34130.127828    1024
1.000000         367
5.000000         170
50.000000        148
                ...
67469.000000       1
43197.000000       1
10027.000000       1
35882.000000       1
57.000000          1
Name: km, Length: 6690, dtype: int64

### Entertainment and Media

In [24]:
df["entertainment_&_media"].value_counts(dropna =False)

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment_&_media, Length: 347, dtype: int64

In [25]:
df.drop("entertainment_&_media" , axis = 1 , inplace = True)

This data will make the model overcomplicated.

### First Registration

In [26]:
df["first_registration"].value_counts(dropna = False)

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
NaN       1597
Name: first_registration, dtype: int64

In [27]:
df["first_registration"].fillna(method = "ffill" , inplace = True)
df["first_registration"].value_counts(dropna = False)

2018.0    4697
2019.0    4226
2016.0    3685
2017.0    3311
Name: first_registration, dtype: int64

### Consume(Comb)

In [28]:
df["cons_comb"].value_counts(dropna = False)

NaN     2033
5.4      770
3.9      733
4.0      713
5.1      657
        ...
33.0       1
50.0       1
1.0        1
46.0       1
11.0       1
Name: cons_comb, Length: 73, dtype: int64

In [29]:
df["cons_comb"].fillna(df["cons_comb"].mean(),inplace =True)
df["cons_comb"].value_counts(dropna = False)

4.895549     2033
5.400000      770
3.900000      733
4.000000      713
5.100000      657
             ...
33.000000       1
50.000000       1
1.000000        1
46.000000       1
11.000000       1
Name: cons_comb, Length: 73, dtype: int64

### Consume(Country)

In [30]:
df["cons_country"].fillna(df["cons_country"].mean(),inplace =True)
df["cons_country"].value_counts(dropna = False)

4.238404     2376
4.200000     1178
3.700000     1089
4.400000      898
4.500000      848
3.800000      802
3.900000      777
4.700000      615
4.100000      592
4.000000      589
3.500000      525
4.300000      520
4.600000      516
3.600000      486
4.900000      481
3.100000      481
3.300000      457
3.400000      353
4.800000      341
5.300000      278
5.400000      239
5.100000      232
5.700000      204
3.200000      180
5.600000      154
3.000000      142
5.000000      130
5.200000      117
6.300000       52
6.000000       42
5.500000       36
10.000000      32
5.800000       30
7.700000       20
6.600000       19
2.900000       16
6.400000       15
2.800000        9
0.000000        9
7.300000        4
44.000000       4
6.500000        4
7.000000        3
7.100000        3
6.900000        2
35.000000       2
37.000000       2
6.100000        2
5.900000        2
6.700000        2
7.800000        2
7.600000        1
42.000000       1
8.000000        1
8.600000        1
10.300000       1
2.000000        1
1.000000        1
Name: cons_country, dtype: int64

### Consume(City)

In [31]:
df["cons_city"].fillna(df["cons_city"].mean(),inplace =True)
df["cons_city"].value_counts(dropna = False)

5.947801     2436
5.000000      669
5.800000      633
4.500000      580
4.300000      533
             ...
9.000000        1
10.500000       1
16.100000       1
10.400000       1
9.700000        1
Name: cons_city, Length: 87, dtype: int64

### CO2 Emission

In [32]:
df["co_2_emission"].fillna(df["co_2_emission"].mean(),inplace =True)
df["co_2_emission"].value_counts(dropna = False)

1239.396722     2436
1202.000000      740
992.000000       545
972.000000       537
1042.000000      501
                ...
142.000000         1
10602.000000       1
512.000000         1
1652.000000        1
1932.000000        1
Name: co_2_emission, Length: 123, dtype: int64

### Extras

In [33]:
df["extras"] = df["extras"].mode()[0]
df["extras"].value_counts(dropna = False)

Alloy wheels    15919
Name: extras, dtype: int64

### Emission Class

In [34]:
df["emission_class"].value_counts(dropna = False )

6.0    12173
NaN     3628
5.0       78
4.0       40
Name: emission_class, dtype: int64

In [35]:
df["emission_class"].fillna(method = "ffill" , inplace = True)
df["emission_class"].value_counts(dropna = False )

6.0    15779
5.0       96
4.0       44
Name: emission_class, dtype: int64

### Upholstery

In [36]:
df["upholstery"].value_counts(dropna = False )

Cloth, Black           5821
NaN                    3720
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Full leather, Brown     116
Part leather, Grey      116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Velour, Black            36
Full leather, Beige      36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Brown                    12
Cloth, Blue              12
Velour, Grey              8
Cloth, White              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Part leather, Red         3
Beige                     3
Part leather, White       2
Full leather, Blue        2
alcantara, Other          2
alcantara                 2
White                     2
Part leather, Beige       2
Blue                      2
Cloth, Orange             1
Full leather, Red         1
Other, Brown              1
Full leather, White       1
Name: upholstery, dtype: int64

In [37]:
df.drop("upholstery" , axis = 1 , inplace= True)

### Body Color Original

In [38]:
df["body_color_original"].value_counts(dropna = False )

NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wÃ¤hlbar                  1
Perlmutt-WeiÃŸ Metallic (WeiÃŸ)       1
Name: body_color_original, Length: 1927, dtype: int64

In [39]:
df.drop("body_color_original" , axis = 1 , inplace = True)

### VAT

In [40]:
df["vat"].value_counts(dropna = False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [41]:
df["vat"].fillna(method = "bfill" , inplace = True)
df["vat"].value_counts(dropna = False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

### Gears

In [42]:
df["gears"].value_counts(dropna = False)

6.0     5822
NaN     4712
5.0     3239
7.0     1908
8.0      224
9.0        6
1.0        2
3.0        2
4.0        2
2.0        1
50.0       1
Name: gears, dtype: int64

In [43]:
df["gears"].fillna(method = "bfill" , inplace =True)
df["gears"].value_counts(dropna = False)

6.0     8324
5.0     4426
7.0     2866
8.0      282
9.0       11
3.0        3
1.0        2
4.0        2
2.0        1
50.0       1
NaN        1
Name: gears, dtype: int64

### Cylinders

In [44]:
df["cylinders"].fillna(method = "ffill" , inplace =True)
df["cylinders"].value_counts(dropna = False)

4.0    12563
3.0     3320
5.0       23
8.0        5
6.0        3
2.0        3
1.0        2
Name: cylinders, dtype: int64

### Paint Type

In [45]:
df["paint_type"].value_counts(dropna = False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

In [46]:
df.drop("paint_type" , axis = 1 , inplace = True)

### Previous Owners

In [47]:
df["prev_owner"].value_counts(dropna = False)

1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [48]:
df["prev_owner"].fillna(method = "bfill" , inplace =True)
df["prev_owner"].value_counts(dropna = False)

1.0    14692
2.0     1187
3.0       38
4.0        2
Name: prev_owner, dtype: int64

In [49]:
## To keep clarity of data, the data have more than 50% of null values are eliminated.

In [50]:
eliminate = ["drive_chain","weight","country_version","warranty","emission_label","inspection_new"]

In [51]:
df.drop(eliminate, axis =1 , inplace =True)

In [52]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,15909,15910,15911,15912,15913,15914,15915,15916,15917,15918
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1,...,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace,Renault Espace
body_type,Sedans,Sedans,Sedans,Sedans,Sedans,Sedans,Station wagon,Compact,Sedans,Sedans,...,Van,Van,Van,Van,Van,Van,Van,Van,Van,Van
price,15770,14500,14640,14500,16790,15090,16422,14480,16700,17990,...,39990,39980,39980,39950,39950,39950,39885,39875,39700,40999
vat,VAT deductible,Price negotiable,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,...,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible,VAT deductible
km,56013.0,80000.0,83450.0,73000.0,16200.0,63668.0,62111.0,14986.0,57000.0,16103.0,...,3500.0,8500.0,100.0,34130.127828,1000.0,34130.127828,9900.0,15.0,10.0,34130.127828
prev_owner,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
hp,66.0,141.0,85.0,66.0,66.0,85.0,85.0,66.0,85.0,70.0,...,147.0,165.0,118.0,147.0,165.0,147.0,165.0,146.0,147.0,165.0
type,Used,Used,Used,Used,Used,Used,Used,Used,Used,Used,...,Demonstration,Demonstration,Pre-registered,New,Demonstration,New,Used,Pre-registered,Pre-registered,Demonstration
first_registration,2016.0,2017.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,2016.0,2017.0,...,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0
body_color,Black,Red,Black,Brown,Black,White,White,Red,Grey,White,...,Black,Blue,White,Black,White,Grey,Grey,White,Grey,Grey
nr_of_doors,5.0,3.0,4.0,3.0,5.0,4.0,4.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
nr_of_seats,5.0,4.0,4.0,4.0,5.0,5.0,5.0,5.0,4.0,4.0,...,5.0,5.0,7.0,5.0,7.0,5.0,5.0,7.0,7.0,5.0
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,...,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic
displacement,1422.0,1798.0,1598.0,1422.0,1422.0,1598.0,1598.0,1422.0,1598.0,999.0,...,1997.0,1798.0,1598.0,1997.0,1798.0,1997.0,1798.0,1997.0,1997.0,1798.0
cylinders,3.0,4.0,4.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
fuel,Diesel,Benzine,Diesel,Diesel,Diesel,Diesel,Diesel,Diesel,Diesel,Benzine,...,Diesel,Benzine,Diesel,Diesel,Benzine,Diesel,Benzine,Diesel,Diesel,Benzine
co_2_emission,992.0,1292.0,992.0,992.0,1092.0,922.0,982.0,972.0,972.0,1239.396722,...,1239.396722,1532.0,1232.0,1392.0,1532.0,1392.0,1682.0,1392.0,1392.0,1532.0
emission_class,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
extras,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,...,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels,Alloy wheels
gears,7.0,7.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,6.0,6.0,6.0,6.0,7.0,6.0,6.0,NaN
cons_comb,3.8,5.6,3.8,3.8,4.1,3.5,3.7,3.7,3.7,4.895549,...,4.895549,6.0,4.7,5.3,6.8,5.3,7.4,5.3,5.3,6.8
cons_city,4.3,7.1,4.4,4.3,4.6,4.3,4.3,4.2,4.3,5.947801,...,5.947801,8.0,5.1,6.2,8.7,6.2,9.2,6.2,6.2,8.7
cons_country,3.5,4.7,3.4,3.5,3.8,3.1,3.4,3.4,3.4,4.238404,...,4.238404,5.0,4.4,4.7,5.7,4.7,6.3,4.7,4.7,5.7

In [53]:
df.to_csv("Capstone_project_step2_Ahmet", encoding='utf-8', index=False)